services:
  db:
    image: pgvector/pgvector:pg17
    container_name: pgvector
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
    expose:
      - 5432
    volumes:
      - pgvector:/var/lib/postgresql/data

volumes:
  pgvector:
    name: pgvector
